<section class="service py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Mis datos</h3>
        <% if( mensaje !== undefined) {%>
            <p>MENSAJE:  <%=mensaje%></p>
        <% }%>
        <p>Bienvenido <%= nombre%></p>
        <div class="row text-center">
            <div class="col-sm-2">
            </div>
            <% let existeNombre = typeof nombre !== 'undefined' %>
            <% let existeApellido = typeof apellido !== 'undefined' %>
            <% let existeCorreo = typeof correo !== 'undefined' %>
            <% let existeTelefono = typeof telefono !== 'undefined' %>
            <% let existeBirth = typeof fechaNacimiento !== 'undefined' %>
            <div class="col-lg-8">
                <form action="../usuario/editar" method="post" id="saveUserData">
                    <div class="form-group row">
                        <label for="nombre" class="col-sm-2 col-form-label fas">Nombre: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control " name="nombre" id="nombre" value=<%= existeNombre ? nombre : '' %>>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="apellido" class="col-sm-2 col-form-label fas">Apellido: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control " name="apellido" id="apellido" value=<%= existeApellido ? apellido : '' %>>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="correo" class="col-sm-2 col-form-label fas">Correo: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control " name="correo" id="correo" <%if(existeCorreo) {%>disabled<%}%> value=<%= existeCorreo ? correo : '' %>>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="telefono" class="col-sm-2 col-form-label fas">Telefono:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control " name="telefono" id="telefono" value=<%= existeTelefono ? telefono : '' %>>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="birth" class="col-sm-2 col-form-label fas">Fecha Nacimiento:</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" name="birth" id="birth" value=<%= existeBirth ? fechaNacimiento : '' %>>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">Actualizar datos</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>