<html lang="es-EC"><head>
    <title>Mi cuenta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- //font-awesome icons -->
    <!--Shoping cart-->
    <link rel="stylesheet" href="css/shop.css" type="text/css">
    <!--//Shoping cart-->
    <!--stylesheets-->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: #f1f1f1;
        }

        li a {
            display: block;
            color: #000;
            padding: 8px 16px;
            text-decoration: none;
        }

        /* Change the link color on hover */
        li a:hover {
            background-color: #555;
            color: white;
        }
        a {
            color: black;
        }
    </style>

</head>
<body class="pagCuenta" style="overflow: auto;">

<div class="layout">

    <div class="layout_catalog ">

        <div id="my_account" class="my_account">

            <div class="wrapper">

                <div id="modToolsmy_account" class="modToolsmy_account">
                    <a href="../inicio" class="btBackmy_account Link-Primary" title="Atrás">&lt; Atrás</a>
                </div>

                <div class="mod_profile_header">
                    <p class="heading-l">Hola <%= nombre%>!</p>
                    <p>Gestiona los datos de tu cuenta, tus pedidos y direcciones.</p>
                </div>
                <div class="row">
                    <!--Menu-->
                    <div class="mod_menuDtCuenta col-lg-4">
                        <ul class="mod_onpage_navigation">
                            <li class="datos active"><a href="/usuario?page=datos" data-mod="modDatos" title="Mis datos">Mis datos</a></li><!--Mis datos-->
                            <li class="passWord"><a href="/usuario?page=pass" data-mod="modPass" title="Cambiar contraseña">Cambiar contraseña</a></li><!--Cambiar contraseña-->
                            <li class="addres"><a href="/usuario?page=addres" data-mod="modAddress" ttile="Mis direcciones">Mis direcciones</a></li><!--Mis direcciones-->
                            <li class="pedidoFav"><a href="/usuario?page=pedidos" data-mod="modPedidos" title="Mis pedidos">Mis pedidos</a></li><!--Mis pedidos-->
                            <li class="cerrar"><a href="/usuario/logout" class="exit" title="Cerrar sesion">Cerrar sesión</a></li><!--Cerrar sesión-->
                        </ul>
                    </div>

                    <div class="mod_moredatos col-lg-8">
                        <% if(page=='pass'){ %>
                            <%- include('changePass.ejs')%>
                        <% } else if(page=='addres'){ %>
                                <%- include('addres.ejs')%>
                        <% } else if(page=='pedidos'){ %>
                                <%- include('pedidos.ejs')%>
                        <% } else { %>
                                <%- include('Datos.ejs')%>
                        <% } %>
                    </div></div>
            </div>
        </div>

        <script defer="" src="/areas/phes/resources/scripts/dcuenta.min.js?v=5.0.23.0" charset="utf-8"></script>


    </div>



</div>
</body>
</html>